.c-candidature-modal {
  font-family: 'Marianne';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.c-candidature-form {
  // See https://stackoverflow.com/a/6046196/2595513
  input, label {
    display:block;
  }
}

.c-candidature-modal .modal-content {
  padding: 2rem;
}
.c-candidature-modal .modal-footer {
  border-top: none;
}

.c-candidature-modal-header.modal-header {
  border-bottom: none;
  border-radius: 0;
  button {
    color: #000091;
    font-family: Marianne;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-transform: capitalize;
    padding: 0;
  }
}

h1.c-candidature-title {
  font-family: Marianne;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
}
