.c-home-descr {
  background-color: $home-background-color;
  margin-top: 0;
  @include media-breakpoint-up(md) {
    margin-top: 88px;
  } 
}

.c-home-descr__title {
  font-size: 26px;
  @include media-breakpoint-up(lg) {
    font-size: 54px;
  } 
  font-weight: 700;
  color: $info;
}

.c-home-descr__subtitle {
  font-size: 22px;
  @include media-breakpoint-up(sm) {
    font-size: 22px;
  } 
  font-weight: 700;
  color: $black;
  margin-bottom: 33px;
}

.c-home-descr__text {
  line-height: 1.5;
  max-width: 730px;
}

.c-home-descr__more {
  background-color: $white;
  margin-top: 33px;  
}
