.c-detail-back {
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
}
