.cardIcon {
  width: 24px;
}

.c-detail-back {
  background: white;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 15px;
}
.c-tiny-btn {
  background: white;
  border: none;
  padding:0;
}

.c-tiny-btn__image {
  width: 30px;
  height: 30px;
}

.c-detail-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: $pinksoft750;
  margin-bottom: 11px;
  padding-bottom: 0;
  text-align: left;
  word-break: break-word;
}

.c-detail-body {
  position: relative;
  a {
    overflow-wrap: anywhere;
  }  
}


.c-detail-title--formation {
  color: $greensoft500;
}

.c-detail-title--lba,
.c-detail-title--peJob,
.c-detail-title--matcha {
  color: $pinksoft750;
}

.c-detail-activity {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  margin-bottom: 12px;
  padding-bottom: 0;
  text-align: left;
}

.c-detail-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
}

.c-detail-km {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  color: $gray-600;
}

.c-detail-sizetitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.c-detail-sizetext {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.c-detail-header-separator {
  margin-bottom: 0;
}

.c-detail-body {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  
  @include media-breakpoint-up(md) { 
    padding-bottom: 0;
  }
} 
 
.c-detail-company {
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 23px;
}
.c-detail-jobtitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 21px;
}
.c-detail-meta {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}
.c-detail-proposal {
  font-weight: 400;
  color: $gray-700;
  margin-bottom: 0;
}
.c-detail-jobname {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}

.c-detail-description-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 21px;
}

.c-detail-description-me {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 6px rgba(121, 121, 121, 0.24);
}

.c-detail-description-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 24px;
}

.c-detail-pelink {
  a {
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: underline solid $gray-750;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

.c-detail-contactlink {
  a {
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: underline solid $gray-750;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

.c-detail-advice {
  display: flex;
  align-items: flex-start;
  background-color: $gray-100;
  margin-top: 12px;
  padding: 24px;
  padding-left: 18px;
  border-left: 6px solid $pinksoft750;
}
.c-detail-advice.c-detail-advice--training {
  border-left: 6px solid $greensoft750;
  padding: 8px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) { 
    padding: 24px;
    padding-bottom: 57px;
  }
}
.c-detail-advice.c-detail-advice--training .c-detail-advice-text {
  margin-top: 0;
  margin-bottom: 0;
}

.c-detail-advice-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
}
.c-detail-advice-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.c-detail-advice-text.c-detail-advice-text--first {
  margin-top: 0;
  @include media-breakpoint-up(md) { 
    margin-top: 18px;
  }
}
.c-detail-advice-text--tag, .c-detail-advice-tag, .c-detail-advice-title  {
  display: none;
  @include media-breakpoint-up(md) { 
    display: block;
  }
}
.c-detail-advice-tag .c-media-tag {
  display: block;
  box-shadow: 0px 0px 15px 1px rgba(121, 121, 121, 0.4);
}
.c-detail-advice-highlight {
  font-weight: 400;
  color: inherit;
  @include media-breakpoint-up(md) { 
    font-weight: 700;
    color: $pinksoft750;
  }
}

.c-detail-advice__figure {
  margin-right: 19px;
}
.c-detail-advice__body {
  text-align: left;
  flex: 1;
}

.c-detail-lbb-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.c-detail-lbb-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.c-detail-lbb-ul {  
  text-align: left;
}

.c-detail-lbb-li::marker {
  color: $pinksoft750;
  font-size: 31px;
}

.c-detail-lbb-li {
  list-style-type: none;
  position: relative;
  margin-bottom: 1rem;
}
.c-detail-lbb-li::before {
  content: '⬤';
  color: $pinksoft750;
  position: absolute;
  left: -2em;
  font-size: 1em; 
}

.c-detail-lbb-siretzone {
  background-color: $gray-200;
  padding: 30px;
  padding-bottom: 70px;
  text-align: left;
}

.c-detail-lbb-siretok {
  margin-top: 27px;
}

a.c-detail-lbb-siretbutton {
  border: 1px solid #383838;
  color: #383838;
}

.btn-outline-primary.c-detail-lbb-siretbutton:hover {
  color: #383838;
  border: 1px solid #383838;
  background-color: white;
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.21);
}

.btn-outline-primary.c-detail-lbb-siretbutton:not(:disabled):not(.disabled):active {
  color: #383838;
  background-color: whitesmoke;
  border-color: inherit;
}

.c-detail-lbb-siretactual, .c-detail-lbb-siretno {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.c-detail-lbb-siretno {
  color: $gray-600;
}
.c-detail-training {
  padding: 28px 20px 0px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  white-space: pre-wrap;
}
.c-detail-traininglink {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  border-bottom: 2px solid $gray-750;
  a {
    color: $gray-700;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.c-detail-seeinfo {
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.c-see-info {
  font-size: 16px;
  padding: 11px 40px;
  width: 100%;
  max-width: 400px;
}

.c-detail-stickynav {
  cursor: pointer;
  position: sticky;
  top: 0;
  background-color: white;
  height: 60px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  box-shadow: 0px 2px 4px #E0E0E0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.c-detail {
  overflow-y: auto;
  position: relative;
}
