.c-filterbuttons {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 31px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}

.c-filterbutton {
  text-align: center;
  font-size: 14px;
  background: none;
  width: fit-content;
  outline: none;
  border: none;
  padding: 21px 0 12px 0;
  color: #929292;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  @include media-breakpoint-up(sm) { 
    padding: 21px 5px 21px 5px;
    font-size: 14px;
    margin-right: 40px;
  }
}

.c-filterbutton--all:after {
  content: 'Tout';
  @include media-breakpoint-up(sm) { 
    content: 'Voir tout';
  }
}

.c-filterbutton-img {
  margin: -2px 5px 0 5px;
  display: none;
  @include media-breakpoint-up(sm) { 
    display: inline;
  }
}

.c-filterbutton.is-active {
  border: none;
  font-weight: 700;
  color: $info;
  border-bottom: 2px solid $info;
  padding-bottom: 10px;
  @include media-breakpoint-up(sm) { 
    padding-bottom: 20px;
    color: $gray-750;
    border-bottom: 2px solid $gray-750;
    display: inline;
  }
}

.c-filterbutton:hover,
.c-filterbutton:focus {
  box-shadow: none;
  box-shadow: 0 0 0 2px $primary;
  border-radius: 2px;
}

.c-filterbutton-count {
  display: none;
  @include media-breakpoint-up(sm) { 
    display: inline;
  }
}
