.c-footer {
  background-color: $home-background-color;
}   

.c-footer__brand-img {
  @include media-breakpoint-down(md) { 
    width: 110px;
  }
}

.c-footer-links {
  list-style-type: none;
}

.c-footer-links__line {
  @extend .mb-1;
}

.c-footer-links__link {
  color: $gray-700;
}

.c-footer-links__link-img {
  margin-right: 5px;
}

.c-footer-links__link:hover {
  text-decoration: none;
  color: $gray-700;
}

.c-footer--partner-logo {
  max-width: 71px;
  margin-left: 1rem;
}

.c-footer-imgs {
  @include media-breakpoint-down(sm) { 
    text-align: center;
  }
}

.c-footer-credit a {
  color: $gray-700;
}
