.c-footer {
  background-color: $home-background-color;
}   

.c-footer__brand-img {
  @include media-breakpoint-down(md) { 
    width: 110px;
  }
}

.c-footer-lastword {
  a {
    color: #666666;
    text-decoration: underline;
  }
}

.c-footer-smallword {
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.c-footer-links__line {
  @extend .mb-1;
  border-right: 1px solid #E5E5E5;
}

.c-footer-links__line + .c-footer-links__line {
  padding-right: 1rem;
  padding-left: 1rem;
}

.c-footer-official-links {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(xl) { 
    flex-direction: row;
    align-items: center;
  }
  a {
    cursor: pointer;
    color: #666666;
    font-weight: 700;
    @include media-breakpoint-up(xl) { 
      margin-right: .5rem;
    }
  }
}

.c-footer-links {
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.c-footer-links__link {
  color: #666666;
}

.c-footer-links__link-img {
  margin-right: 5px;
}

.c-footer-links__link:hover {
  text-decoration: none;
  color: $gray-700;
}

.c-footer--partner-logo {
  max-width: 73px;
}

.c-footer-logocontainer + .c-footer-logocontainer {
  margin-left: 1rem;
}

.c-footer-imgs {
  @include media-breakpoint-down(sm) { 
    text-align: center;
  }
}

.c-footer-credit a {
  color: $gray-700;
}
