.c-home-services__main-title {
  text-align: center;
  font-size: 28px;
  @include media-breakpoint-up(sm) {
    font-size: 40px;
  } 
  font-weight: 700;
}

.c-home-services__main-title--dark {
  color: $gray-700;
}
.c-home-services__main-title--colored {
  color: $info;
}

.c-home-services__card {
  min-width: 254px;
  max-width: 254px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.21);
}

.c-home-services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(lg) {
    align-items: inherit;
    flex-direction: row;
  } 
}

.c-home-services__card-body {
  text-align: center;
  padding-bottom: 0;
}

.c-home-services__footer {
  background-color: $white;
  border: none;
}


.c-home-services__img--sirius {
  margin-top: 17px;
}
.c-home-services__img--prdv {
  margin-top: 5px;
}
.c-home-services__img--matcha {
  margin-top: -5px;
}
.c-home-services__img--catalog {
  margin-top: 20px;
}


.c-home-services__circle { 
 width: 68px;
 height: 68px;
 background: #EDEDED; 
 border-radius: 70px;
}

.c-home-services__title {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #373F41;
  @extend .mt-3;
}

.c-home-services__title--sirius, .c-home-services__title--matcha {
  @extend .mb-5;
}
.c-home-services__title--catalog, .c-home-services__title--prdv {
  @extend .mb-3;
}

.c-home-services__text {
  line-height: 148%;
  text-align: center;
  color: $gray-600;
}

.c-home-services__btn {
  height: 41px;
  max-width: 154px;
}

