

.c-homecomponent
{
    border-radius: 10px;

    &__blue {
        background: #F5F5FE;
    }

    &__beige {
        background: #F9F8F6;
    }
}

.c-homecomponent-illustration
{
    width: 100%;
    max-width: 492px;
    margin:auto;
}

.c-homecomponent-logopartenaire
{
    margin: 2px;
    width: 100%;
    max-width: 128px;
    border: 2px solid #E5E5E5;
    border-radius: 6px;
}

.c-homecomponent-title
{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Marianne';
    line-height: 40px;
    color: #3a3a3a;

    &__confiance {
        text-align: center;
    }

    &__blue {
        color: #000091
    }

    &__small {
        font-size: 28px;
        line-height: 36px;

        &_darker {
            color: #2a2a2a;
        }
    }
}

.c-homecomponent-link {
 
    background: #000091;
    color: #F5F5FE;
    font-size: 18px;
    border: 1px solid #000091;
    padding: 10px 24px;
    cursor: pointer;

    &__clear {
        color:#000091;    
        background: none;
    }


}