.c-home-review {
  background: #F5F5FE;
  border-radius: 10px;
  margin-top: 5rem;
}

.c-home-review__img {
  max-width: 256px;
}

.c-home-review-title {
  color: #000091;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
