.c-homebg {
  background-color: #F9F8F6;
  margin-left: 0;
  margin-right: 0;
  @include media-breakpoint-up(xl) { 
    margin-left: 32px;
    margin-right: 32px;
  }
  border-radius: 10px;
}

.c-homebg-img {
  z-index: -1;
}

.c-homebg-img--1 {
  top: 85px;
  left: -162px;
}
.c-homebg-img--2a {
  top: 47px;
  left: -208px;
}
.c-homebg-img--3a {
  top: 79px;
  left: -183px;
}
.c-homebg-img--3b {
  top: 53px;
  right: -121px;
}
