.c-howto {
  .card {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 241px;
    @include media-breakpoint-up(lg) { 
      max-width: 281px;
    }
  }
  .card-body {
    padding: 0;
  }
  .c-howto-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(lg) { 
      flex-direction: row;
    }
  }
}
