.itemDetail {
  background: #F5F5F5;
  height: 100%;
}
.itemDetail header {
  background: #fff !important;
  padding: 10px 20px 30px !important;
}
.itemDetail .ellipsisLink {
  overflow: hidden;
  text-overflow: ellipsis;
}
.itemDetail .itemDetailBody {
  padding: 30px 40px;
  font-size: 16px;
  text-align: left;
  background: #F5F5F5;
}
.itemDetail .itemDetailBody .title {
  width: fit-content;
  padding: 3px 10px 2px;
  color: #fff;
  font-weight: bold;
  background: #066EE7;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.itemDetail .itemDetailBody .sectionTitle {
  font-weight: bold;
}
.itemDetail .itemDetailBody .description {
  padding-left: 15px;
  text-align: justify;
  white-space: pre-wrap;
}
.itemDetail .itemDetailBody .linkIcon {
  margin-right: 15px;
}
.itemDetail .blueAdvice {
  margin: 30px -10px;
  background: #D7E9FF;
  border-radius: 15px;
  padding: 20px;
  text-align: justify;
}
.itemDetail .pinkAdvice {
  margin: 30px -10px;
  background: #F1E3FD;
  border-radius: 15px;
  padding: 20px;
  text-align: justify;
}
.itemDetail .pinkAdvice ul,
.itemDetail .blueAdvice ul {
  padding-left: 25px;
  margin-top: 20px;
  padding-right: 5px;
}
.itemDetail .pinkAdvice li,
.itemDetail .blueAdvice li {
  margin-bottom: 10px;
}
.itemDetail .pinkAdvice .floatLeft,
.itemDetail .blueAdvice .floatLeft {
  float: left;
}
.itemDetail .pinkAdvice .paragraph,
.itemDetail .blueAdvice .paragraph {
  margin-left: 50px;
  text-align: justify;
}
.itemDetail .pinkAdvice img,
.itemDetail .blueAdvice img {
  margin-right: 20px;
}
.trainingResult {
  background-color: #F9F8F6;
}
.resultCard {
  background-color: white;
  text-align: left;
  padding: 20px 25px;
  margin: 8px 25px;
  color: #4A4A4A;
}
.resultCard .extendedJobSearchButton,
.resultCard .extendedTrainingSearchButton {
  cursor: pointer !important;
  background: none !important;
  border: none !important;
  padding: 0px 5px 10px 0 !important;
  font-size: 14px !important;
  width: fit-content !important;
  max-width: unset !important;
}
.resultCard .extendedJobSearchButton img,
.resultCard .extendedTrainingSearchButton img {
  margin-bottom: 2px !important;
  margin-right: 5px !important;
}
.resultCard .extendedJobSearchButton span,
.resultCard .extendedTrainingSearchButton span {
  text-decoration: underline !important;
}
.resultCard .extendedJobSearchButton {
  color: #54108E !important;
}
.resultCard .extendedTrainingSearchButton {
  color: #BD1992 !important;
}
.itemDetail .resultCard {
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .resultCard {
    padding: 15px 30px 10px;
  }
}

.resultCard .cardDistance {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: $gray-600;
}

.resultCard .knowMore button.c-resultcard-knowmore {
  font-size: 14px;
  margin-left: auto;
  line-height: 17px;
}

.cardText {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.resultCard .title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.resultCard .body {
  font-size: 14px;
}
.resultCard .body > div {
  margin-top: 5px;
}
.resultCard .knowMore {
  margin-left: auto;
}
.resultCard .knowMore button {
  cursor: pointer;
  color: $gray-700 !important;
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
  padding-bottom: 5px;
  padding-top: 0px;
  width: fit-content;
  border-bottom: 2px solid $gray-700;
}
.resultCard .knowMore button:hover {
  color: #000;
}
.resultCard .hasJob {
  font-weight: bold;
}
.resultCard .companySize > img {
  margin-right: 5px;
  margin-top: -5px;
}
.resultCard .body a,
.resultCard .body a:hover,
.resultCard .body a:visited {
  color: black;
}
