.c-detail-body.c-locationdetail {
  padding-bottom: 0px;
}

.c-locationdetail {
 text-align: left;
}

.choiceCol h2.c-locationdetail-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000091;
}

.c-locationdetail-address {
  font-size: 16px;
  line-height: 24px;
  color: #383838;
}

.c-locationdetail-distance {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6A6A6A;
}

.c-locationdetail-imgcontainer {
  display: flex;
  width: 40px;
  align-items: flex-start;
  justify-content: center;
}

.c-locationdetail-line {
  display: flex;
}
