.c-logobar {
  display: flex;
  align-items: center;
}
form.c-logobar-form {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.c-logobar-formgroup {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid $gray-300;
  border-radius: 10px;
  padding: .1rem;
}

.c-logobar-label {
  display: block;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 15px;
  color: $gray-700;
  text-align: left;
  margin-left: 1rem;
  padding-top: 0.3rem;
}

.c-logobar .c-input-work-container .c-input-work {
  padding: 0;
  height: 30px;
  margin-left: 1rem;
}

.c-logobar-field select {
  padding: 0;
  height: 30px;
  margin-left: .8rem;
  margin-right: .8rem;
}

.c-logobar-field {
  min-height: 30px;
}

.c-logobar-field input, .c-logobar-field select {
  border: none;
  width: auto;
}
