.c-media {
  display: flex;
  align-items: flex-start;
}

.c-media-figure {
  margin-right: 1em;
}

.c-media-body {
  flex: 1;
}

.c-detail .c-media-tag {
  font-size: 12px;
}

.c-media-tag {
  align-self: flex-end;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  width: fit-content;
  border-radius: 6px;
  padding: 0.5rem;
  padding-top: 0.25rem;
  font-size: 12px;
  @include media-breakpoint-up(lg) {
    font-size: 8px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 12px;
  }
}
.c-media-tag.c-media-tag--briefcase {
  color: $pinksoft750;
  background: #FFF4F2;
}
.c-media-tag.c-media-tag--paperplane {
  color: $pinksoft750;
  background: #FFF4F2;
}
.c-media-tag.c-media-tag--smiley {
  color: #22967E;
  background: #E5F7F4;
}
// .c-media-tag.c-media-tag--thumb {
//   color: $info;
//   background: transparent;
//   font-size: 16px;
//   border: 1px solid $info;
// }
.c-button-thumb {
  color: $info;
  background: transparent;
  font-size: 16px;
  border: 1px solid $info;
  border-radius: 8px;
}
.c-media-tag span {
  vertical-align: bottom;
}
