version: "2.4"
services:
  reverse_proxy:
    image: labonnealternance_reverse_proxy
    container_name: labonnealternance_reverse_proxy
    build:
      context: reverse_proxy
    mem_limit: 256m
    restart: unless-stopped
    ports:
      - 80:80
    networks:
      - labonnealternance_network
    depends_on:
      - server
      - ui

  ui:
    image: labonnealternance_ui
    container_name: labonnealternance_ui
    build:
      context: ui
    mem_limit: 1g
    networks:
      - labonnealternance_network
    depends_on:
      - server

  server:
    image: labonnealternance_server
    volumes:
      - /opt/labonnealternance/data/server/lbb/assets:/app/src/jobs/lbb/assets
    container_name: labonnealternance_server
    build:
      context: server
    mem_limit: 1g
    restart: unless-stopped
    networks:
      - labonnealternance_network
    depends_on:
      - mongodb
    environment:
      - LABONNEALTERNANCE_MONGODB_URI=mongodb://mongodb:27017/labonnealternance?retryWrites=true&w=majority

  mongodb:
    image: mongo:4.2.6-bionic
    container_name: labonnealternance_mongodb
    mem_limit: 1g
    restart: unless-stopped
    networks:
      - labonnealternance_network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:7.1.1
    container_name: labonnealternance_elasticsearch
    environment:
      - ES_JAVA_OPTS=-Xmx512m -Xms512m -Dlog4j2.formatMsgNoLookups=true
      - discovery.type=single-node
    mem_limit: 3g
    networks:
      - labonnealternance_network

  kibana:
    image: docker.elastic.co/kibana/kibana-oss:7.1.1
    container_name: labonnealternance_kibana
    depends_on:
      - elasticsearch
    networks:
      - labonnealternance_network
    environment:
      - SERVER_BASEPATH=/kibana

  metabase:
    image: metabase/metabase:v0.41.4
    volumes:
      - /opt/labonnealternance/data/metabase:/metabase-data
    depends_on:
      - mongodb
    environment:
      JAVA_TIMEZONE: Europe/Paris
      MB_DB_FILE: /metabase-data/metabase.db
      MB_SITE_LOCALE: fr
      MB_SITE_URL: http://0.0.0.0/metabase
    restart: always
    networks:
      - labonnealternance_network    

networks:
  labonnealternance_network:
    name: labonnealternance_network
