# Override containers for local / dev environnement
version: "2.4"
services:
  reverse_proxy:
    volumes:
      - labonnealternance_nginx_data:/data

  ui:
    command: yarn start
    mem_limit: 1g
    stdin_open: true
    volumes:
      - ./ui:/app #Allows source folders to be watched
      - /app/.next
  server:
    command: ["yarn", "debug"]
    ports:
      - "127.0.0.1:9229:9229" # Allows remote debugging
    volumes:
      - ./server/src:/app/src # Allows source folders to be watched
      - ./server/config:/app/config
      - labonnealternance_server_data:/data
    environment:
      - LABONNEALTERNANCE_ENV=dev
      - LABONNEALTERNANCE_LOG_LEVEL=debug

  mongodb:
    ports:
      - "127.0.0.1:27017:27017"
    volumes:
      - labonnealternance_mongodb_data:/data

  elasticsearch:
    ports:
      - "127.0.0.1:9200:9200"
    volumes:
      - labonnealternance_data_elasticsearch:/usr/share/elasticsearch/data
      - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro

  kibana:
    ports:
      - "127.0.0.1:5601:5601"
    volumes:
      - ./elasticsearch/kibana.yml:/usr/share/kibana/config/kibana.yml:ro

volumes:
  labonnealternance_data_elasticsearch:
    driver: local
    name: labonnealternance_data_elasticsearch
  labonnealternance_mongodb_data:
    driver: local
    name: labonnealternance_mongodb_data
  labonnealternance_nginx_data:
    driver: local
    name: labonnealternance_nginx_data
  labonnealternance_server_data:
    driver: local
    name: labonnealternance_server_data
