.root {
  color: #4A4A4A;
}
.error {
  margin: auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.span {
  color: #F49979;
  font-size: 32px;
  font-weight: bold;
}
.h1 {
  font-size: 40px;
}
.errorMessage {
  background: #FFF1E5;
  border-radius: 10px !important;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  padding: 10px 5px;
  text-align: center;
}
.errorImg {
  margin: 5px 20px;
}
