/**
*
* MARIANNE (titres)
*
*/

/*@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}*/
@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
/*@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Marianne/Marianne-Thin.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}*/


/**
*
* INTER (corps de texte)
*

@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-Thin.ttf');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-ExtraLight.ttf');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-Light.ttf');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('https://labonnealternance-recette.apprentissage.beta.gouv.fr/fonts/Inter/Inter-Black.ttf');
  font-weight: 900;
  font-display: swap;
}
*/