.apiTestPage .container {
  max-width: fit-content;
}
.apiTestPage .apiResult {
  text-align: left;
}
.apiTestPage .formGroup {
  border: 1px solid #e0e0e0;
  height: 56px;
  max-width: 280px;
  min-width: 250px;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
  padding: 1px 10px;
  background: #fff;
}
.apiTestPage .errorField {
  color: red;
  margin-top: -10px;
  margin-bottom: 15px;
}
.apiTestPage .form-check {
  padding-left: 0;
}
.apiTestPage label {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 56px;
  padding: 16px 10px;
  font-size: 14px;
  color: #333;
  min-width: 60px;
}
.apiTestPage label:hover,
.apiTestPage label.active {
  background: #333;
  border: 1px solid #333;
  color: #fff;
}
.apiTestPage .buttons {
  margin: auto;
  max-width: 600px;
}
.apiTestPage input {
  border: none;
  height: 52px;
  margin-left: 5px;
  width: 90%;
}
.apiTestPage input:focus {
  outline: none;
}
.apiTestPage .fa-search,
.apiTestPage .fa-map-marker-alt {
  margin-top: 16px;
}
.apiTestPage .autoCompleteContainer {
  width: 90%;
  float: right;
}
.apiTestPage h2 {
  font-size: 24px;
  color: #333;
  margin: 50px 0;
  padding: 0 70px;
}
.apiTestPage .row {
  text-align: center;
}
.apiTestPage button {
  width: 80%;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  text-align: center;
  font-size: 16px;
  padding: 18px;
  max-width: 280px;
  margin: auto;
}
