// @font-face {
//   font-family: 'Marianne';
//   src: url('Marianne-Black.woff2') format('woff2'), url('Marianne-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Marianne';
//   src: url('Marianne-ExtraBold.woff2') format('woff2'), url('Marianne-ExtraBold.woff') format('woff');
//   font-weight: 800;
//   font-style: normal;
// }
@font-face {
  font-family: 'Marianne';
  src: url('../fonts/Marianne/Marianne-Bold.woff2') format('woff2'), url('../fonts/Marianne/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
