<mjml>
    <mj-head>
        <mj-title>Nous allons vous rappeler</mj-title>
        <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'" />
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #3A55D1;}, body{background: #EDF0F2;}
            a.purple {color: #3A55D1; text-decoration: none}
        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#EDF0F2">
        <mj-section padding-bottom="0px">
            <mj-column padding="0px" vertical-align="middle" width="400px">
                <mj-image padding="0px 0px 30px 0px" width="250px" src="<%= data.images.logo %>" alt="Logo du site La Bonne Alternance" />
            </mj-column>
        </mj-section>
        <mj-wrapper background-color="#ffffff" padding="0px" border-radius="10px" padding-bottom="50px">
            <mj-section padding="15px">
                <mj-column width="420px">
                    <mj-text padding-bottom="32px" font-size="18px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#383838">
                        Votre candidature a bien été envoyée à
                    </mj-text>
                    <mj-text font-size="22px" line-height="24px" font-weight="700" color="#F07F87">
                        <%= data.company_name %>
                    </mj-text>
                    <mj-text font-size="14px" line-height="24px">
                        <%= data.company_naf %><br /><%= data.company_address %>
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="0px" width="90%" padding-bottom="16px" />

            <mj-section padding="15px">
                <mj-column width="420px">
                    <mj-text border-top="1px solid black" border-bottom="1px solid black" font-size="16px" line-height="20px">
                        Continuez à envoyer des <span style="color:#F07F87; font-weight:bold" >candidatures spontanées</span> à d'autres entreprises qui n'ont pas diffusé d'offre.
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="0px" width="90%" padding-bottom="16px" />
            


        </mj-wrapper>
    </mj-body>
</mjml>