.c-autocomplete__menu {
  overflow-y: auto;
  margin: 0;
  margin-top: 4px;
  border-top: 0;
  list-style: none;
  padding: 0;
  left: auto;
  background: #fff;
  color: #000;
  width: 100%;
  max-width: 370px;
  max-height: 250px;
  position: absolute;
  z-index: 1000;
  top: auto;
  /*margin-left: -35px;*/
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.widgetTestPage .c-autocomplete__menu {
  margin-left: 0px;
  width: 100%;
  max-width: 370px;
  margin-top: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.c-autocomplete__option--highlighted {
  background-color: #aaaaaa;
}
.c-autocomplete__input--small-font {
  font-size: $small-font-size;
  color: #2A2A2A;
}
