.autoCompleteMenu {
  overflow-y: auto;
  margin: 0;
  border-top: 0;
  list-style: none;
  padding: 0;
  left: auto;
  background: #fff;
  color: #000;
  width: 280px;
  max-height: 180px;
  position: absolute;
  z-index: 1000;
  top: auto;
  margin-left: -35px;
}
.highlightedMenuItem {
  background-color: #aaaaaa;
}
.autoCompleteSmallFont {
  font-size: 12px;
}
