.c-home-hero {
  background: url('/images/hero2.svg'), #FFF8F8;
  background-size: contain;
  background-repeat: no-repeat;
}

.c-home-hero__card {
  max-width: 445px;
}

.c-home-hero__title {
  font-family: 'Marianne';
  font-weight: 700;
}
