.c-home-hero {
  background: url('/images/hero2.svg'), #FFF8F8;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-home-hero__card {
  max-width: 445px;
}

.c-home-hero__input {
  width: 314px;
}

.c-home-hero__title {
  font-family: 'Marianne';
  font-weight: 700;
  font-size: 32px;
}

.c-home-hero__title2 {
  color: #3b56d1;
}
