.c-navbar-brand-img {
 @include media-breakpoint-down(sm) { 
   width: 110px;
 }
}


.c-navigation .navbar-toggler:after {
  content: 'menu';
  display: block;
  font-size: 12px; // can't find proper variable here
}
